# Virtual Environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pygame cache
__pycache__
*.pyc

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# IDEs
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# PyCharm
.idea/
*.iml
*.ipr
*.iws

# Jupyter Notebook
.ipynb_checkpoints

# User-specific files
*.idea
*.sqlite3

# Environments
.env

# Pygame
pygame/
